<div class="flex flex-row mb-5">
  <div class="flex items-center">
    <img
      class="logo transform scale-75"
      src="./assets/images/logo_godeneyes.png"
    />
    <a class="title-logo">Goldeneye Technologies</a>
  </div>
  <div
    class="flex-grow flex items-center justify-end"
    *ngIf="profile.firstName.length === 0"
  >
    <div class="px-2 py-1 flex items-center">
      <ngx-skeleton-loader
        class="hidden lg:inline-flex mr-2 items-center"
        appearance="circle"
        [theme]="{ width: '37px', height: '37px' }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        class="hidden lg:inline-flex lg:items-center mt-2"
        [theme]="{ width: '100px' }"
      >
      </ngx-skeleton-loader>
    </div>
  </div>
  <div
    class="flex-grow items-center justify-end hidden lg:inline-flex"
    *ngIf="profile.firstName.length > 0"
  >
    <div
      class="px-2 py-1 flex items-center cursor-pointer"
      [matMenuTriggerFor]="menu"
    >
      <ng-container *ngIf="!profile.avatar">
        <ngx-avatar
          name="{{ profile.firstName }} {{ profile.lastName }}"
          size="28"
        >
        </ngx-avatar>
      </ng-container>
      <ng-container *ngIf="profile.avatar?.length > 0">
        <ngx-avatar src="{{ profile.avatar }}" size="28"></ngx-avatar>
      </ng-container>
      <a class="items-center pl-1">
        {{ profile.firstName + " " + profile.lastName }}
      </a>
      <span class="justify-center inline-flex items-center">
        <i-feather name="chevron-down"></i-feather>
      </span>
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
      <div class="w-36 h-auto">
        <div class="flex item-navi" (click)="logout()">
          <span class="items-center inline-flex">
            <i-feather class="mr-3 icon" name="log-out"></i-feather>Log out
          </span>
        </div>
      </div>
    </mat-menu>
  </div>
  <span class="lg:hidden flex-grow flex items-center justify-end">
    <i-feather name="menu" [matMenuTriggerFor]="menuNavigate"></i-feather>
    <mat-menu #menuNavigate="matMenu">
      <app-navigation></app-navigation>
    </mat-menu>
  </span>
</div>
