.item-navi {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  color: #4f4f4f;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px 5px 20px;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px;
}

.avatar {
  width: 32px;
  height: 32px;
}

.title-logo {
  --tw-text-opacity: 1;
  color: rgba(255, 192, 0, var(--tw-text-opacity));
  font-weight: 500;
  font-size: 24px;
}

.btn-enterprise {
  font-size: 18px;
  color: white;
  background-color: #2f80ed;
  border-color: #2f80ed;
  border-radius: 9999px;
  border-width: 2px;
}

::ng-deep .cdk-overlay-pane {
  padding-top: 10px;
}

/* Portrait: mobile */
@media only screen and (max-width: 600px) {
  .logo {
    width: 36px;
    height: 36px;
  }

  .title-logo {
    --tw-text-opacity: 1;
    color: rgba(255, 192, 0, var(--tw-text-opacity));
    font-weight: 500;
    font-size: 16px;
  }
}

/* Portrait: tablet */
@media only screen and (min-width: 600px) {
}

/* Portrait:  - Landscape: mobile, tablet */
@media only screen and (min-width: 768px) {
}

/* Ipad */
@media only screen and (min-width: 992px) {
}

/* laptop, pc */
@media only screen and (min-width: 1200px) {
}
