<mat-form-field
  appearance="outline"
  floatLabel="always"
  class="w-full text-input-form"
>
  <mat-label><ng-content></ng-content></mat-label>
  <input
    matInput
    (input)="doInput()"
    [formControl]="formControl"
    [required]="required"
    [type]="type"
  />
  <i-feather
    *ngIf="matSuffix"
    matSuffix
    class="icon-hide"
    name="{{ matSuffix }}"
    (click)="matSuffixClicked()"
  ></i-feather>
  <i-feather
    *ngIf="matPrefix"
    matPrefix
    class="icon-hide"
    name="{{ matPrefix }}"
    (click)="matPrefixClicked()"
  ></i-feather>
  <mat-error> This field is required</mat-error>
</mat-form-field>
