@import "/src/constants/text.scss";
@import "/src/constants/color.scss";

$font-size: 18px;
$border-radius: 9999px;
$height-btn: 48px;
$height-btn-dialog: 40px;
$border-width: 2px;

button:focus {
  outline: 0 !important;
}

.btn {
  font-size: $font-size;
  border-radius: $border-radius;
  border-width: $border-width;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  letter-spacing: $space-letter-1;
}

.btn-base {
  @extend .btn;
  height: $height-btn;

  &:disabled {
    border: none;
    background-color: $color_gray1;
    color: $color_whiteSmoke;
  }
  &:disabled:hover {
    border: none;
    background-color: $color_gray1;
    color: $color_whiteSmoke;
  }
}

.btn-base-dialog {
  @extend .btn;
  height: $height-btn-dialog;
}

// Button Create //
.btn-create {
  @extend .btn-base;
  color: $color_blue;
  border-color: $color_blue;

  &:hover {
    background-color: $color_blue;
    color: $color_whiteSmoke;
  }
}

.btn-create-dialog {
  @extend .btn-base-dialog;
  color: $color_blue;
  border-color: $color_blue;

  &:hover {
    background-color: $color_blue;
    color: $color_whiteSmoke;
  }
}

// Button Update //
.btn-update {
  @extend .btn-base;
  color: $color_green;
  border-color: $color_green;

  &:hover {
    background-color: $color_green;
    color: $color_whiteSmoke;
  }
}

.btn-update-dialog {
  @extend .btn-base-dialog;
  color: $color_green;
  border-color: $color_green;

  &:hover {
    background-color: $color_green;
    color: $color_whiteSmoke;
  }
}

// Button Delete //
.btn-delete {
  @extend .btn-base;
  color: $color_red;
  border-color: $color_red;

  &:hover {
    background-color: $color_red;
    color: $color_whiteSmoke;
  }
}

.btn-delete-dialog {
  @extend .btn-base-dialog;
  color: $color_red;
  border-color: $color_red;

  &:hover {
    background-color: $color_red;
    color: $color_whiteSmoke;
  }
}

// Button Cancel //
.btn-cancel {
  @extend .btn-base;
  color: $color_gray1;
  border: none;

  &:hover {
    background-color: $color_gray1;
    color: $color_whiteSmoke;
  }
}

.btn-cancel-dialog {
  @extend .btn-base-dialog;
  color: $color_gray1;
  border: none;

  &:hover {
    background-color: $color_gray1;
    color: $color_whiteSmoke;
  }
}

// Button Header //
.btn-header {
  padding: 8px 22px 8px 22px;
  border-radius: $border-radius;
  letter-spacing: $space-letter;
  color: $color_whiteSmoke;
  border-color: $color_blue;
  background-color: $color_blue;
  max-width: 170px;
  height: $height-btn;
}

.btn-invite {
  @extend .btn;
  display: inline-block;
  transition: all 0.2s;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  color: $color_blue;
  border-color: $color_blue;
  height: $height-btn;
  width: 200px;
  height: 48px;
  left: 1043px;
  top: 212px;
  letter-spacing: $space-letter-1;

  &:hover {
    background-color: $color_blue;
    color: $color_whiteSmoke;
  }
}

@media all and (max-width: 30em) {
  .btn-invite {
    display: block;
    margin: 0.2em auto;
  }
}
