.title-header-table {
  font-size: 12pt;
  background-color: #f8f9fa;
  color: black;
}

.title-content-table {
  font-size: 11pt;
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  vertical-align: middle !important;
  text-align: center !important;
  border: 1px solid grey;
  padding: 15px;
}

tr:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
