@import "/src/constants/color.scss";

$space-letter: 0.025em;
$space-letter-1: 0.05em;

.space-text {
  letter-spacing: $space-letter;
}

.fs24 {
  font-size: 24px;
}

.fs18 {
  font-size: 18px;
}

.title-body {
  @extend .fs24;
  font-weight: 700;
  font-style: normal;
  letter-spacing: $space-letter;
}
