<div class="flex flex-col h-screen">
  <header class="z-50 mt-4 ml-6 mr-8">
    <app-header></app-header>
  </header>
  <main class="flex flex-row mb-auto">
    <div class="hidden lg:inline mt-2">
      <app-navigation></app-navigation>
    </div>
    <div class="flex-grow mx-4 sm:mx-8">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<ng-snotify></ng-snotify>
