<pagination-template
  #p="paginationApi"
  (pageChange)="currentPage = $event; onPageClicked(currentPage)"
>
  <div class="flex items-center justify-end mt-3">
    <div
      class="flex justify-center items-center pagination"
      [ngClass]="{ 'opacity-40': p.isFirstPage() }"
      (click)="!p.isFirstPage() && p.previous()"
    >
      <i-feather name="chevron-left" class="pagination"></i-feather>
    </div>

    <div
      *ngFor="let page of p.pages"
      [class.current]="p.getCurrent() === page.value"
    >
      <div
        *ngIf="p.getCurrent() !== page.value"
        (click)="p.setCurrent(page.value)"
        class="mx-3 flex justify-center items-center rounded-full pagination"
      >
        {{ page.label }}
      </div>
      <div
        *ngIf="p.getCurrent() === page.value"
        class="
          mx-3
          flex
          justify-center
          items-center
          rounded-full
          pagination pagination-active
        "
      >
        {{ page.label }}
      </div>
    </div>

    <div
      class="h-6 w-6 flex justify-center items-center pagination"
      [ngClass]="{ 'opacity-40': p.isLastPage() }"
      (click)="!p.isLastPage() && p.next()"
    >
      <i-feather name="chevron-right" class="pagination"></i-feather>
    </div>
  </div>
</pagination-template>
