<app-table
  [titles]="titles"
  [data]="data"
  [pagination]="{
    itemsPerPage: this.itemsPerPage,
    currentPage: this.currentPage,
    totalItems: 50
  }"
  (rowClicked)="log($event)"
>
</app-table>

<app-pagination
  [currentPage]="currentPage"
  (pageClicked)="log($event)"
></app-pagination>

<form [formGroup]="createAccount" class="grid grid-cols-2">
  <app-input class="col-span-1" formControlName="first-name" [required]="true"
    >First Name</app-input
  >
</form>
