@use "~@angular/material" as mat;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~ng-snotify/styles/material";
@import "constants/color.scss";
@import "constants/form.scss";
@import "constants/table.scss";
@import "constants/button.scss";

html,
body {
  margin: 0;
  height: 100%;
  body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
  }
}
