<div class="w-72 h-auto">
  <ul>
    <li class="flex item-navi" routerLink="" routerLinkActive="selected">
      <span class="items-center inline-flex">
        <i-feather class="mr-3 icon" name="home"></i-feather>Home
      </span>
    </li>
    <li
      class="flex item-navi"
      routerLink="user/account"
      routerLinkActive="selected"
    >
      <span class="items-center inline-flex">
        <i-feather class="mr-3 icon" name="users"></i-feather>Accounts
      </span>
    </li>
    <li
      class="flex item-navi"
      routerLink="user/profile"
      routerLinkActive="selected"
    >
      <span class="items-center inline-flex">
        <i-feather class="mr-3 icon" name="clipboard"></i-feather>Profile
      </span>
    </li>
  </ul>
</div>
