.selected {
  color: #2f80ed !important;
  background-color: #f5f5f5 !important;
  border-radius: 0px 50px 50px 0px !important;
}

.item-navi {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  color: #4f4f4f;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 36px 20px 36px;
  align-items: center;
}

/* Portrait: mobile */
@media only screen and (max-width: 600px) {
  .icon {
    width: 18px;
    height: 18px;
  }
}

/* Portrait: tablet */
@media only screen and (min-width: 600px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}

/* laptop, pc */
@media only screen and (min-width: 1200px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
