<table>
  <tr>
    <th class="title-header-table">No.</th>
    <th *ngFor="let title of titles" class="title-header-table">
      {{ title.name }}
    </th>
  </tr>

  <ng-container
    *ngFor="let item of data | paginate: pagination; let index = index"
  >
    <tr class="cursor-pointer" (click)="update(item)">
      <td class="title-content-table">
        {{ index + 1 }}
      </td>
      <td class="title-content-table" *ngFor="let title of titles">
        {{ item[title.field] }}
      </td>
    </tr>
  </ng-container>
</table>
